body {
	background-color: var(--light-color);
	color: var(--text-color);
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
	position: relative;
}

.page-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(../assets/images/img-bg.jpg);
	background-size: cover;
	height: 40vh;
}

.page-banner h1 {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	color: var(--light-color);
}
