@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* design: https://themewagon.github.io/restoran/index.html */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Heebo", sans-serif;
	font-size: 16px;
	transition: all 0.3s ease;
}

:root {
	--primary-color: #0f172b;
	--secondary-color: #fa4e1a;
	--accent-color: #fea116;
	--text-color: #171417;
	--light-color: #fefefe;
	--grey-color: #666565;
	--border-color: #dee2e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

.btn {
	background-color: var(--accent-color);
	color: var(--light-color);
	padding: 1rem 3rem;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	font-weight: 800;
	font-size: 1rem;
	font-family: "Nunito", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	align-self: start;
}

.btn:hover {
	background-color: var(--primary-color);
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.btn:focus {
	outline: none;
}

@media (max-width: 768px) {
	.btn {
		padding: 0.5rem 1.5rem;
		font-size: 0.8rem;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInModal {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}
 
.fade-in-modal {
	animation: fadeInModal 0.3s ease;
}

.fade-in {
	animation: fadeIn 0.6s ease-out both;
}

.fade-in-from-left {
	animation: fadeInFromLeft 0.6s ease-out both;
}

.fade-in-opacity {
	animation: fadeInOpacity 0.6s ease-out both;
}

.fade-in-opacity-delayed {
	animation: fadeInOpacity 0.6s ease-out both;
	animation-delay: 0.3s;
}

.fade-in-from-left-delayed {
	animation: fadeInFromLeft 0.6s ease-out both;
	animation-delay: 0.3s;
}

.fade-in-delayed {
	animation: fadeIn 0.6s ease-out both;
	animation-delay: 0.3s;
}

@media (max-width: 768px) {
	* {
		font-size: 14px;
	}
}

@media (max-width: 370px) {
	* {
		font-size: 12px;
	}
}
