@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* design: https://themewagon.github.io/restoran/index.html */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Heebo", sans-serif;
	font-size: 16px;
	transition: all 0.3s ease;
}

:root {
	--primary-color: #0f172b;
	--secondary-color: #fa4e1a;
	--accent-color: #fea116;
	--text-color: #171417;
	--light-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

.btn {
	background-color: var(--accent-color);
	color: var(--light-color);
	padding: 1rem 3rem;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	font-weight: 800;
	font-size: 1rem;
	font-family: "Nunito", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	align-self: start;
}

.btn:hover {
	background-color: var(--primary-color);
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.btn:focus {
	outline: none;
}

@media (max-width: 768px) {
	.btn {
		padding: 0.5rem 1.5rem;
		font-size: 0.8rem;
	}
}
