header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: var(--light-color);
	padding: 1.25rem;
	z-index: 1000;
}

.logo-container a {
	text-decoration: none;
	color: var(--accent-color);
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	display: flex;
}

nav ul li button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--light-color);
	font-weight: 600;
	text-transform: uppercase;
}

nav ul li button:hover,
nav ul li button.active {
	color: var(--accent-color);
}

.burger {
	display: none;
	cursor: pointer;
	width: 30px;
	height: 24px;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 11;
}

.burger .line {
	background-color: var(--accent-color);
	height: 3px;
	width: 100%;
	transition: all 0.3s ease;
}

.burger.active .line:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
	opacity: 0;
}

.burger.active .line:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

nav ul {
	transition: transform 0.3s ease;
}

nav.nav-active ul {
	transform: translateY(0);
}

@media (max-width: 768px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: var(--primary-color);
		padding: 1rem;
		z-index: 1;
	}

	.logo-container {
		z-index: 1;
		background-color: var(--primary-color);
	}

	.burger {
		display: flex;
	}

	nav ul {
		position: absolute;
		top: 100%;
		left: 0;
		flex-direction: column;
		gap: 3rem;
		padding: 3rem;
		background-color: var(--primary-color);
		width: 100%;
		z-index: -1;
		transform: translateY(-150%);
	}

	nav ul li button {
		font-size: 1.5rem;
		z-index: -2;
	}
}
